GreenSlipService/src/main/resources/wsdl/GreenSlipService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://rms.soacourse.unsw.edu.au/GreenSlipService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="GreenSlipService" targetNamespace="http://rms.soacourse.unsw.edu.au/GreenSlipService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://rms.soacourse.unsw.edu.au/GreenSlipService/">
			<xsd:element name="GSCheckRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="lastname" type="xsd:string" />
						<xsd:element name="firstname" type="xsd:string" />
						<xsd:element name="regoNumber" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GSCheckResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="lastname" type="xsd:string" />
						<xsd:element name="firstname" type="xsd:string" />
						<xsd:element name="regoNumber" type="xsd:int" />
						<xsd:element name="paidFlag" type="xsd:boolean"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DriverNotFoundFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="message" type="xsd:string"></xsd:element>
						<xsd:element name="code" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DriverAccessFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DriverAccessFault"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GSCheckRequest">
		<wsdl:part element="tns:GSCheckRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GSCheckResponse">
		<wsdl:part element="tns:GSCheckResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DriverNotFoundFaultException">
		<wsdl:part name="parameters" element="tns:DriverNotFoundFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DataAccessFaultException">
		<wsdl:part name="parameters" element="tns:DriverAccessFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="GreenSlipService">
		<wsdl:operation name="GSCheck">
			<wsdl:input message="tns:GSCheckRequest" />
			<wsdl:output message="tns:GSCheckResponse" />
			<wsdl:fault name="driverNotFoundFault" message="tns:DriverNotFoundFaultException"></wsdl:fault>
            <wsdl:fault name="dataAccessFault" message="tns:DataAccessFaultException"></wsdl:fault>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GreenSlipServiceSOAP"
		type="tns:GreenSlipService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GSCheck">
			<soap:operation
				soapAction="http://rms.soacourse.unsw.edu.au/GreenSlipService/GSCheck" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="driverNotFoundFault">
				<soap:fault use="literal" name="driverNotFoundFault" />
			</wsdl:fault>
			<wsdl:fault name="dataAccessFault">
				<soap:fault use="literal" name="dataAccessFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GreenSlipService">
		<wsdl:port binding="tns:GreenSlipServiceSOAP" name="GreenSlipServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
